@import '../../node_modules/reset-css/reset.css';
@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

body {
    font-family: 'Fira Sans', sans-serif;
    color: #4f4f4f;
    font-size: 15px;
    font-weight: medium;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.header,
.footer {
    background-color: #ff8353;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    font-family: 'Fredoka One', cursive;
    font-size: 1.2rem;
}

.logo {
    display: block;
    width: 54px;
    height: 39px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.map-content {
    flex-grow: 10;
}
.map-container {
    position: relative;
    height: 100%;
}
.map-logo {
    position: absolute;
    right: 0px;
    bottom: 5px;
}

.card {
    width: 380px;
    background-color: #fff;
    border-radius: 15px;
    position: absolute;
    min-height: 100px;
}

.card-header {
    min-height: 15px;
    background-color: #ff8353;
    color: #fff;
    display: flex;
    padding: 15px;
    border-radius: 15px 15px 0 0;
    justify-content: space-between;
}
.card-container {
    padding: 22px 15px;
}
.card-reviews {
    position: relative;
    max-height: 130px;
    overflow: auto;
    margin-bottom: 10px;
}
.card-one-review {
    margin-bottom: 30px;
}

.card-one-review:last-child {
    margin-bottom: 0px;
}
.review-head {
    margin-bottom: 12px;
}

.review-head span {
    margin-right: 10px;
}

.review-head span:last-child {
    margin-right: 0px;
}

.review-name {
    font-weight: bold;
}

.review-place,
.review-time {
    opacity: 0.75;
}

.add-review-header {
    color: #ff8353;
    text-transform: uppercase;
    padding: 15px 0px;
    border-top: solid 1px #f0f0f0;
}

.card-form {
    display: flex;
    flex-direction: column;
}

.card-form input,
.card-form textarea {
    display: block;
    border: 1px solid #c4c4c4;
    border-radius: 20px;
    padding: 10px 15px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
    outline: none;
}

.card-form input:focus,
.card-form textarea:focus {
    border: 1px solid #ff8353;
}

.card-form textarea {
    font-family: 'Fira Sans', sans-serif;
    resize: none;
}

.card-form button {
    background-color: #ff8353;
    border-radius: 10px;
    padding: 10px 17px;
    color: #fff;
    border: none;
    cursor: pointer;
    align-self: flex-end;
}

.scroll-reviews {
    width: 3px;
    height: 70px;
    background-color: #c4c4c4;
    position: absolute;
    top: 0;
    right: 0;
}

.map-container {
    background-color: #c3c3c3;
}

#map {
    height: 100%;
}

.ymaps-2-1-75-balloon__content {
    margin-right: 0 !important;
    padding: 0 !important;
}

/**********************************/

.cluster-balloon-cont {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 200px;
    overflow: hidden;
}
.cluster-balloon {
    width: 400px;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
}
.cluster-container {
    width: 80%;
}
.cluster-card {
    align-self: flex-start;
    flex-grow: 2;
}
.cluster-title {
    background-color: #ff8353;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    color: #fff;
    display: flex;
    cursor: pointer;
}
.cluster-title span {
    margin-left: 10px;
    margin-right: 10px;
}
.arrow {
    font-size: 22px;
    color: #ff8353;
    cursor: pointer;
    padding: 5px;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    z-index: 100;
}
.cluster-card {
    margin: 20px 10px;
    padding-right: 15px;
    padding-left: 15px;
}

.cluster-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.cluster-author {
    font-weight: 700;
}
.cluster-place,
.cluster-date {
    opacity: 0.75;
}
.cluster-footer {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 100;
}
.car-block {
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 14px;
    color: #ff8353;
    padding: 2px;
    cursor: pointer;
    box-sizing: border-box;
    margin: 3px;
    border-radius: 10px;
    opacity: 0.75;
    border: 1px solid #ff8353;
    line-height: 16px;
    transition: all 300ms, ease-in-out;
}

.car-block:hover {
    background-color: #ff8353;
    color: #fff;
}

.car-block.active {
    background-color: #ff8353;
    color: #fff;
}

#close-cluster-balloon {
    position: absolute;
    z-index: 100;
    top: 10px;
    right: 10px;
    color: #fff;
    cursor: pointer;
}
